
@model IEnumerable<StudentApp.ViewModel.StudentMarksModel>

<table class="table table-condensed"> @*width:100 in style*@
    <thead>
        <tr>
            <th>Subject</th>
            <th>Total Marks</th>
            <th>Marks Obtained</th>
            <th>Percentage</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
<tr>
    <td>@item.SubjectName</td>
    <td>@item.TotalMarks</td>
    <td>@item.MarksObtained</td>
    <td>@item.Percentage</td>
</tr>
    }

</table>